EXPO_PUBLIC_API_URL=http://localhost:3000

EXPO_PUBLIC_DELAI_EXPIRATION_MS=10000
EXPO_PUBLIC_DELAI_REESSAI_MS=1000
EXPO_PUBLIC_NOMBRE_REESSAIS_AUTOMATIQUES=1

EXPO_PUBLIC_DUREE_TOAST_MS=5000
EXPO_PUBLIC_DELAI_TEMPORISATION_MS=3000
EXPO_PUBLIC_DELAI_RECHERCHE_MS=300
